/* Misc */

@import "./misc/variables";
@import "./misc/normalize";

/* Partials */

@import "./partials/header";
@import "./partials/footer";

/* Views*/

@import "./views/index";
@import "./views/equipos";
@import "./views/pilotos";
@import "./views/circuitos";
@import "./views/contacto";

