*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* font-size: 62.5%; */
    height: 80%;
}

img{
    width: 100%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-size: 2em;
}

body{
    background-image: radial-gradient(circle at 90.56% 107.92%, #6fffff 0, #5eabf1 50%, #3d5879 100%);
    background-size: cover;
    color: black;
    text-decoration: none;
    margin: auto;
}  

/* Helper */

.container {
margin: 0px;
max-width: 1200px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

/*Media*/

@media (max-width: 786px) {

    #pilotos {

        display: grid;
        grid-template-rows: repeat(2, 2fr);
        grid-template-columns: repeat(2, 2fr);
        align-content: center;
        grid-gap: 5px;
    }
}

@media (max-width: 420px) {

    #pilotos {

        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
        align-content: center;
        grid-gap: 5px;
    }
}