*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 80%;
}

img{
    width: 100%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-size: 2em;
}

body{
    background-image: radial-gradient(circle at 90.56% 107.92%, #6fffff 0, #5eabf1 50%, #3d5879 100%);
    background-size: cover;
    color: black;
    text-decoration: none;
    margin: auto;
}  

/* Helper */

.container {
margin: 0px;
max-width: 1200px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}