#photos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: background-color 1s linear;


    .photos-article__equipos{
        text-decoration: none;
        background-image: url(equipos.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        text-align: center;
        width: 320px;
        height: 430px;
        margin:  150px 25px 150px 25px;
        padding: 20px;
        display: inline-block;
        overflow-y: hidden;
        overflow-x: visible;
        color: #F1D302;
        text-shadow: 2px 4px 2px black;
        border-radius: 150px;
        
    }
    
    .photos-article__equipos:hover{
        color: #F1D302;
        border-radius: 45px;
        font-size: 55px;
        animation-name: giro;
       animation-duration: 5s;
    }
    
    .photos-article__pilotos{
        text-decoration: none;
        background-image: url(pilotos.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-decoration: none;
        text-align: center;
        width: 320px;
        height: 430px;
        margin:  150px 25px 150px 25px;
        padding: 20px;
        display: inline-block;
        overflow-y: hidden;
        overflow-x: visible;
        text-shadow: 2px 4px 2px black;
        border-radius: 150px;
    }
    
    .photos-article__pilotos:hover{
        color: white;
        border-radius: 45px;
        font-size: 55px;
        animation-name: giro;
       animation-duration: 5s;
    }
    
    .photos-article__circuitos{
        text-decoration: none;
        background-image: url(circuitos.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        color: #C1292E;
        text-decoration: none;
        text-align: center;
        width: 320px;
        height: 430px;
        margin:  150px 25px 150px 25px;
        padding: 20px;
        display: inline-block;
        overflow-y: hidden;
        overflow-x: visible;
        text-shadow: 2px 4px 2px black;
        border-radius: 150px;
    }
    
    .photos-article__circuitos:hover{
        color: #C1292E;
        border-radius: 40px;
        font-size: 55px;
        overflow: hidden;
        animation-name: giro;
       animation-duration: 5s;
    }
    
    .photos-article__contacto{
        text-decoration: none;
        background-image: url(contacto.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        color: #067BC2;
        text-decoration: none;
        text-align: center;
        width: 320px;
        height: 430px;
        margin:  150px 25px 150px 25px;
        padding: 20px;
        display: inline-block;
        overflow-y: hidden;
        overflow-x: visible;
        text-shadow: 2px 4px 2px black;
        border-radius: 150px;
    }
    
    .photos-article__contacto:hover{
        color: #067BC2;
        border-radius: 45px;
        font-size: 55px;
        overflow: hidden;
        animation-name: giro;
       animation-duration: 5s;
    }
    
}




