#pilotos {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    
}

/*Media*/

@media (max-width: 786px) {

    #pilotos {

        display: grid;
        grid-template-rows: repeat(2, 2fr);
        grid-template-columns: repeat(2, 2fr);
        align-content: center;
        grid-gap: 5px;
    }
}

@media (max-width: 420px) {

    #pilotos {

        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
        align-content: center;
        grid-gap: 5px;
    }
}